.container{
    width: 100%;
    display: block;
    .content {
        width: 80%;
        margin: 0 auto;
    }
}
div#nav-top{
    background-color: #FFFFFF;
    .content div{
        display: inline-block;
    }
    div#logo {
        background-image: url("/assets/logoFeichapp.png");
        background-attachment: scroll;
        background-repeat: no-repeat;
        background-size: contain;
        width:80px;
        height: 80px;
    }
    div#nav-items {
        //width: 100%;
        li {
            display: inline;
            padding-right: 1em;
        }
    }
    div#icon-settings{
        width: 80px;
        height: 80px;
    }
}