div#av-top{
    display: block;
}
.logo {
    background-image: url("/assets/logoFeichapp.png");
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: contain;
    width:80px;
    height: 40px;
}
a {
    text-decoration: none;
    color:#1ca9c9;
    &:hover,&:active{
        color:#1ca9c9;
    }
}