div#m-nav-top {
  .content {
    width: 80%;
    margin: 10px auto;
    position: relative;
  }

  #icon-menu {
    position: absolute;
    top: 0px;
    left: 0;
  }

  #logo {
    margin: 0 auto;
    background-position-y: 0;
  }

  #nav-items {
    position: absolute;
    top: 40px;
    left: 0px;
    background-color: #e3e3e3;
    width: 60%;
  }
}
