div#company-mission {
  width: 60%;
  margin-left: 90px;
  height: 1800px;
  color: #ffffff;
}

.container {
  display: block;
  min-height: 10em;
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  background-color: transparent;
}

div#landing-content {
  background-color: #1A4876;
  background-image: url('/assets/bintree.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  background-position-y: 150px;
  background-position-x: 90%;
}
