.container{
    width: 100%;
    display: block;
    .content {
        min-height: 10em;
        background-color: #efefef;
        width: 80%;
        margin: 0 auto;
        padding: 10px;
        background-color: #efefef;
    }
}