.container{
    width: 100%;
    display: block;
    background-color: #efefef;
    height: 3em;
    border-top: dotted 1px #1ca9c9;
    .content {
        width: 80%;
        margin: 10px auto;
    }
}
div#app-footer{
    position: fixed;
    bottom: 0em;
    width: 100%;
}