<fweb-nav-bar-top></fweb-nav-bar-top>
<ul>
  <li>
    <a [routerLink]="['/products/ChineseWordBoard']">
      Chinese Word Board
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="10" viewBox="57.5 179.1 23.2 23.2"><path fill="#1ca9c9" stroke="#1A4876" stroke-width="3.2" stroke-linecap="round" stroke-miterlimit="10" d="M59.1 190.7h20M69.1 200.7v-20"/></svg>
    </a>
  </li>
</ul>
<div id="products" class="container">
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
