.logo {
  background-image: url("/assets/logoFeichapp.png");
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: contain;
  width: 40px;
  height: 40px;
  background-position-y: 10px;
}
