<h1>Chinese Word Board</h1>
<p id="promotion">
  Having difficulty remembering Chinese words? Learn and remember words by trying this app today!
</p>
<p id="description">
  The App provides an easy and fun way to learn for anyone to remember the fundamental Mandarin words. First start by
  taking a look at the word dictionary and then play a card matching game to help with memorization. It's perfect for
  anyone who wants to learn their Chinese vocabulary quickly!
</p>
<!--
<p>
  Next release features: 
  <br/>
  <ul>
  <li>To expand the word board to list 1000 words. </li>
  <li>A paid feature to allow saving game results. </li>
  </ul>
</p>
-->
<h3>App features:</h3>
<ul>
  <li>
    Target audience: everyone.
  </li>
  <li>
    Target device: iPhone, iPad.
  </li>
  <li>
    System required: iOS 11 or later.
  </li>
  <li>
    Available at: <br/>
    <a target="_blank" href="https://apps.apple.com/us/app/id1511149219">
      <img src="assets/downloadApp.svg" alt="Download on the App Store" />
    </a>
  </li>
</ul>
<h3>App screenshots:</h3>
<div>
  <span *ngFor="let id of numScreenShots" class="screenshot">
    <img [src]="id" width="150px" alt="screenshot" />
  </span>
</div>
